\.vs
\.idea

# Output
src/*/bin
src/*/obj
tests/*/bin
tests/*/obj
AcuPackageTools/*.dll
AcuPackageTools/*.pdb

PackageToolsTest_24_1/*
PackageToolsTest_24_2/*
TemporaryAspFiles/*
Customization/*
BackUp/*
